name: Build ZenToDo APK + EXE
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  # APK для Android
  android:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.x'
    - run: flutter pub get
    - run: flutter build apk --release
    - uses: actions/upload-artifact@v4
      with:
        name: ZenToDo-APK
        path: build/app/outputs/flutter-apk/app-release.apk

  # EXE для Windows
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.x'
    - run: flutter pub get
    - run: flutter build windows --release
    - uses: actions/upload-artifact@v4
      with:
        name: ZenToDo-EXE
        path: build/windows/runner/Release/
